<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>

<table>
  <thead>
    <tr>
      <th>Tweeturl</th>
      <th>Handle</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Userlocation</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><a href="<%= tweet.tweeturl %>">Original Tweet</a></td>
        <td><%= tweet.handle %></td>
        <td><%= tweet.name %></td>
        <td><%= tweet.bio %></td>
        <td><%= tweet.userlocation %></td>
        <td><%= tweet.country %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
